# be sure to update the constraints file to match
# see https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#constraints-files
apache-airflow==2.6.3
pytest==7.4.0
cloud-composer-dag-test-utils==1.0.0
